services:
  auth:
    build: ./auth-service
    env_file:
      - .env
    environment:
      AUTH_PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      - db
      - migrate


  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - auth
      - product

  product:
    build: ./product-service
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
      - migrate
    restart: always

  db:
    image: postgres:16.11
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migrate:
    image: postgres:16
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./db/migrations:/migrations
    entrypoint: >
      bash -c "
      sleep 5 &&
      for f in /migrations/*.sql; do
        echo Running 
$$
f;
        psql -h db -U
$$
POSTGRES_USER -d 
$$
POSTGRES_DB -f
$$
f;
      done
      "

volumes: 
  postgres_data:
